/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Import prebuilt theme
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Global styles
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

// Material form field global styles
.mat-mdc-form-field {
  width: 100%;
}

// Material select panel styles
.mat-mdc-select-panel {
  max-height: 300px !important;
}

.mat-mdc-option {
  height: 48px !important;
  line-height: 48px !important;
}
